/* Base Application Styles */
.content {
  line-height: 30px;
}
.content .btn-group {
  display: none;
}
.thing-container {
  margin-left: 40px;
}
.content:hover .btn-group {
  display: inline-block;
}

.content .did-content {
  text-decoration: line-through;
}
